html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 10em;
  background-color: black;

}

p {
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace
}
p#name{
  font-family: 'Courier New', Courier, monospace;
  font-style: bold;
}

a {
  text-decoration: none;
  color: orange;
  font-style: italic;
}
.left-section{
  float: left;
}
.right-section{
  float: right;
}
