

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  background-color: black;
}

p {
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace
}
p#name{
  font-family: 'Courier New', Courier, monospace;
  font-style: bold;
}

a {
  text-decoration: none;
  color: orange;
  font-style: italic;
}
.left-section{
  
}
.right-section{
  
}
.responsive {
  width: 100%;
  height: auto;
}
